<head>
	<title>Riviere</title>
</head>
<body>
	<h1>Riviere</h1>
		<iframe src="/header.html" width="100%" height="30" scrolling="no" frameborder="0">
			<p>Enable iframes to view the header.</p>
		</iframe>
		<h2>Tasks for <%= @usr.fname %></h2>
<hr/>
<div>
<table>
	<tr>
		<th>Sequence 1</th>
		<th>Sequence 2</th>
		<th>Alignment</th>
	</tr>

	<% @tasklist.each do |task| %>

	<tr>
		<td><code><%= task.base_sequence1 %></code></td>
		<td><code><%= task.base_sequence2 %></code></td>
		<td><code>
			<% if !task.alignment_sequence.nil? && task.alignment_sequence.include?(",") %>
				<%= task.alignment_sequence.split(",").first %>
				<br/>
				<%= task.alignment_sequence.split(",").last %>	
			<% end %>	
	</td></code>
	</tr>

	<% end %>
</table>
</div>
<hr/>
<a href="/newtask">New Task</a>
		<iframe src="/footer.html" width="100%" height="30" scrolling="no" frameborder="0">
			<p>Enable iframes to view the footer.</p>
		</iframe>
</body>
