<head>
	<title>Riviere</title>
</head>
<body>
	<h1>Riviere</h1>
<div>
	<a href="index">Home</a>
	<a href="dashboard">Dashboard</a>
	<a href="join">Join the Strand</a>
	<a href="contact">Contact</a>
	<a href="about">About</a>
</div>
<h2>Tasks</h2>
<hr/>
<div>
<table>
	<tr>
		<th>Sequence 1</th>
		<th>Sequence 2</th>
		<th>Alignment</th>
	</tr>
	<% @tasks.each do |task| %>
	<tr>
		<td><code><%= task.base_sequence1 %></code></td>
		<td><code><%= task.base_sequence2 %></code></td>
		<td><code>
			<% if !task.alignment_sequence.nil? && task.alignment_sequence.include?(",") %>
				<%= task.alignment_sequence.split(",").first %>
				<br/>
				<%= task.alignment_sequence.split(",").last %>	
			<% end %>	
	</td></code>
	</tr>
	<% end %>
</table>
</div>
<hr/>
<div>
<%= form_tag({:controller => "task", :action => "create"}, :method => "get") do %>
	<%= label_tag(:seq1, "Sequence 1:") %>
	<%= text_field_tag(:seq1) %>
	<br/>
	<%= label_tag(:seq2, "Sequence 2:") %>
	<%= text_field_tag(:seq2) %>
	<br/>
	<%= submit_tag("Align") %>
<% end %>
</div>
<div>
	&copy; 2011 Riviere
	<br/>
	<a href="privacy">Privacy</a>
</div>
</body>
