<head>
	<title>Riviere</title>
</head>
<body>
	<h1>Riviere</h1>
		<iframe src="/header.html" width="100%" height="30" scrolling="no" frameborder="0">
			<p>Enable iframes to view the header.</p>
		</iframe>
<hr/>
<h2>New Task</h2>
<div>
<%= form_tag({:controller => "task", :action => "create"}, :method => "get") do %>
	<%= label_tag(:seq1, "Sequence 1:") %>
	<%= text_field_tag(:seq1, @seq1) %>
	<br/>
	<%= label_tag(:seq2, "Sequence 2:") %>
	<%= text_field_tag(:seq2, @seq2) %>
	<br/>
	<%= submit_tag("Align") %>
<% end %>
</div>
<hr/>
<h2>Search</h2>
<div>
	<%= form_tag({:controller => "task", :action => "search"}, :method => "get") do %>
		<%= label_tag(:org, "Organism:") %>
		<%= text_field_tag(:org) %>
		<br/>
		<%= submit_tag("Search") %>
	<% end %>
</div>
		<iframe src="/footer.html" width="100%" height="30" scrolling="no" frameborder="0">
			<p>Enable iframes to view the footer.</p>
		</iframe>
</body>
