<head>
	<title>Riviere</title>
</head>
<body>
	<h1>Riviere</h1>
		<iframe src="/header.html" width="100%" height="30" scrolling="no" frameborder="0">
			<p>Enable iframes to view the header.</p>
		</iframe>
<h2>New Task</h2>
<hr/>
<div>
<%= form_tag({:controller => "task", :action => "create"}, :method => "get") do %>
	<%= label_tag(:seq1, "Sequence 1:") %>
	<%= text_field_tag(:seq1) %>
	<br/>
	<%= label_tag(:seq2, "Sequence 2:") %>
	<%= text_field_tag(:seq2) %>
	<br/>
	<%= submit_tag("Align") %>
<% end %>
</div>
		<iframe src="/footer.html" width="100%" height="30" scrolling="no" frameborder="0">
			<p>Enable iframes to view the footer.</p>
		</iframe>
</body>
